.env
*.key
*.pem

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg-info/
db.sqlite3

*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

*.log
*.pot
*.py,cover
*.coverage
.coverage.*
.cache/
local_settings.py

venv/
ENV/
env/
.venv/

.vscode/
.idea/
*.swp

*.pid
*.seed
*.pid.lock

staticfiles/

readme.txt
Bases/