asgiref==3.9.1
attrs==25.3.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
# chromedriver==2.24.1
chromedriver-autoinstaller==0.6.4
comtypes==1.4.12
convertdate==2.4.0
Django==5.2.6
django-extensions>=3.2.0
django-apscheduler
docker==7.1.0
docopt==0.6.2
dotenv==0.9.9
fpdf==1.7.2
h11==0.16.0
idna==3.10
Levenshtein==0.27.1
lunardate==0.2.2
narwhals==2.4.0
num2words==0.5.14
numpy==2.2.6
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.2
pillow==11.3.0
plotly==6.3.0
pycparser==2.23
# PyGetWindow==0.0.9
pyluach==2.3.0
PyMeeus==0.5.12
PyPDF2==3.0.1
# PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyRect==0.2.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
# pywin32==311
# pywinauto==0.6.9
RapidFuzz==3.14.1
reportlab==4.4.3
requests==2.32.5
selenium==4.35.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.5.3
tenacity==9.1.2
trio==0.30.0
trio-websocket==0.12.2
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
websocket-client==1.8.0
workalendar==17.0.0
wsproto==1.2.0
