{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>LideraGestão</title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@600;700&family=Syne:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'usuarios/css/login.css' %}">
</head>
<body>

  <main class="login-page-container">
    <div class="login-promo-panel">
        <div class="promo-content">
            <h2>Integra</h2>
            <img src="{% static 'usuarios/img/Governo-Federal.svg' %}" 
            alt="Logo Governo Federal" 
            class="logo-governo">
              <img src="{% static 'usuarios/img/icon3.svg' %}"  
              class="logo-integra">
        </div>
    </div>
    <div class="login-form-panel">
      <form id="login-form" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <h1>Login</h1>
        
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
        <p class="input-hint">E-mail deve ser @outlook</p>

        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" required>
        
        <div class="password-actions">
            <a href="#" class="forgot-password">Esqueceu sua senha?</a>
        </div>

        <button type="submit" class="button-estilo-card">Entrar</button>
        
        <p id="login-erro" class="error-message"></p>

        <p class="signup-link">
            Não tem conta? <a href="{% url 'cadastro' %}"><strong>Cadastre-se</strong></a>
        </p>
      </form>
    </div>
  </main>
  
</body>
</html>